.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(214, 212, 212);
}

/* LEFT SECTION */
.left-section {
  display: flex;
  align-items: center;
}

.hamburger_icon {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube_icon {
  height: 20px;
  cursor: pointer;
}

/* MIDDLE SECTION */
.middle-section {
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
}

.search-box {
  height: 22px;
  flex: 1;
  width: 0;
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(184, 184, 184);
  border-radius: 2px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: inset 1px 1px 3px rgb(0, 0, 0, 0.09);
}

.search-box::placeholder {
  font-size: 15px;
  font-family: Roboto, Arial;
}

.search-button {
  height: 40px;
  width: 65px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(184, 184, 184);
  background-color: rgb(248, 247, 247);
  margin-left: -1px;
  margin-right: 5px;
  cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container {
  display: flex;
  justify-content: center;
  position: relative
}

.search-button .tooltips,
.voice-search-button .tooltips,
.upload-icon-div .tooltips {
  font-size: 12px;
  background-color: rgb(107, 106, 106);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;

  position: absolute;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.search-button:hover .tooltips,
.voice-search-button:hover .tooltips,
.upload-icon-div:hover .tooltips {
  opacity: 1;
}

.upload-icon-container {
  display: flex;
  justify-content: center;
  position: relative;
}


.search-icon {
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.voice-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
  margin-left: 7px;
  border-style: none;
  height: 40px;

  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.voice-search-icon {
  height: 24px;
}


/* RIGHT SECTION */
.right-section {
  width: 182px;
  display: flex;
  margin-right: 24px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
  cursor: pointer;
}

.youtube-apps-icon {
  height: 24px;
  cursor: pointer;
}

.notifications-icon {
  height: 24px;
  cursor: pointer;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

/* POSITIONING PROPERTY ON THE NOTIFICATION ICON */

.notifications-icon-div {
  position: relative;
  top: 2px;
}

.notification-count {
  font-family: Roboto, Arial;
  font-size: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3px;
  right: -7px;
  background-color: rgb(202, 1, 1);
  color: white;
  width: 16px;
  height: 15px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}