.sidebar {
  position: fixed;
  top: 50px;
  left: 0px;
  bottom: 0;
  width: 65px;
}

.sidebar-link {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-link:hover {
  background-color: rgb(230, 230, 230);
}

.sidebar-link img {
  height: 24px;
}