.sidebar {
  position: fixed;
  background-color: white;
  z-index: 200;
  top: 45px;
  left: 0;
  bottom: 0;
  width: 72px;
  padding-top: 22px;
}

.sidebar-link {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}

.sidebar-link:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}